# ============================================================
# MuseAI - Private and Runtime Data
# ============================================================

# User data
/config/user.yaml
/data/**
!/data/**/
!/data/.gitkeep
!/data/**/.gitkeep

# Custom function
/func/**
!/func/.gitkeep
!/func/example-function/
!/func/example-function/**

# Secretary
/.env

# Cache
__pycache__

# local develop

## test
/.test

## renew
/.renew

## review
/.review